<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>CustomersServlet</servlet-name>
        <servlet-class>com.example.Java_Servlet.HelloServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Aservlet</servlet-name>
        <servlet-class>com.example.Java_Servlet.AServlet</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>Bservlet</servlet-name>
        <servlet-class>com.example.Java_Servlet.Bservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfig</servlet-name>
        <servlet-class>com.example.Java_Servlet01.ConfigTestServlet</servlet-class>
        <!--这里是可以初始化Servlet对象的信息的-->
        <!--这里的配置信息都会被Tomcat解析-->
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/sql_store</param-value>
        </init-param>
        <init-param>
            <param-name>user</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>smt020528</param-value>
        </init-param>
    </servlet>




    <servlet>
        <servlet-name>Context</servlet-name>
        <servlet-class>com.example.Java_Servlet01.ServletContextTest01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Context02</servlet-name>
        <servlet-class>com.example.Java_Servlet01.ServletContextTest02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Path</servlet-name>
        <servlet-class>com.example.Java_Servlet01.ServletContextTest04</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDataToContext</servlet-name>
        <servlet-class>com.example.Java_Servlet01.ServlertContextTest05</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServlet</servlet-name>
        <servlet-class>com.example.HTTP_Servlet.GetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>com.example.HTTP_Servlet.PostServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.example.HTTP_Servlet.LoginServlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>com.example.HTTP_Servlet.HttpServletRequest.ResquestTest</servlet-class>
    </servlet>







    <!--这里也可以配置servletContext初始化参数-->
    <!--上下文得到初始化参数,以下的配置细腻些能够在servlet中通过ServletContext进行获取-->
    <context-param>
        <param-name>pageSize</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>startIndex</param-name>
        <param-value>0</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>LoginServlet.html</welcome-file>
    </welcome-file-list>





    <servlet-mapping>
        <servlet-name>CustomersServlet</servlet-name>
        <url-pattern>/servlet/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aservlet</servlet-name>
        <url-pattern>/servlet/A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bservlet</servlet-name>
        <url-pattern>/servlet/B</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletConfig</servlet-name>
        <url-pattern>/servlet/ServletConfig</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Context</servlet-name>
        <url-pattern>/Context</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Context02</servlet-name>
        <url-pattern>/Context02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Path</servlet-name>
        <url-pattern>/path</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDataToContext</servlet-name>
        <url-pattern>/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServlet</servlet-name>
        <url-pattern>/Get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
       <servlet-name>Login</servlet-name>
       <url-pattern>/UserLogin</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>

</web-app>